# Database
DATABASE_URL="postgresql://usuario:senha@localhost:5432/evolution"

# Redis (opcional)
REDIS_ENABLED=false
REDIS_URI="redis://localhost:6379"

# App Config
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3000
